By the end of this course:

    The personal site must consist of a home page and at least one child page.
    The website must be hosted on the web.
    Each page of your Web site must satisfy the following requirements:
        Significant textual content, appropriate for your audience, so that they can understand the meaning and message of this site.
        At least one image that relates to the content of the page.
        Working links to your child page(s).
        Be laid out and styled according to your site plan wireframes.
        Be responsive
        Be visually appealing and easily readable.
        Be valid HTML and CSS
        Score at least 96 on Lighthouse on Performance and Accessibility.
    The site should have dynamic elements provided by Javascript, your code should show elements of the following:
        It should show some level of organization: at a minimum it should have more than one function.
        It should include DOM interaction: select an element, modify it, and listen for and react to events
        It should show examples of conditional branching
        Each of the following should be used: Objects, ES Modules, Arrays and array method usage (forEach, map, reduce, filter, etc)
